.video-item {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.video-img {
  width: 180px;
}

.player {
  height: 200px;
}

.videogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
